body{
  background-color: rgb(159, 202, 240);
}

#pointBuy{
  display: none;
}

#nextButtonTwo{
  display: none;
}

#previousButtonOne{
  display: none;
}

#pointBuyPoints{
  display: none;
}

#dwarfSub{
  display: none;
}

#elfSub{
  display: none;
}

#halflingSub{
  display: none;
}

#dragonbornSub{
  display: none;
}

#gnomeSub{
  display: none;
}